<form [formGroup]="myForm">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <br/>
    <label>
      email:
      <input type="email" formControlName="email">
    </label>
    <br/>
    <label>
        Feedback:
    </label>
    <br/>
    <label>
        <input type="radio" formControlName="feedback" value="Great">
        Great
    </label><br/>
    <label>
        <input type="radio" formControlName="feedback" value="Okay">
        Okay
    </label><br/>
    <label>
        <input type="radio" formControlName="feedback" value="Not good">
        Not Good
    </label><br/>
    <label>
        Comments:
        <textarea type="text" formControlName="comment"></textarea>
    </label>
</form>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>